<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-12">
          <h6 class="h2 text-dark d-inline-block mb-0">Approve Assesment</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-pencil-ruler text-dark"> </i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Counterfeit Management
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Approve Assesment
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Assessment Analysis</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="box1">
                <div class="row">
                  <div class="col-12 mt-3">
                    <a class="text-white"><b> 350 </b></a>
                  </div>
                  <div class="col-12 mb-3">
                    <a class="text-white"> Series </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box2">
                <div class="row">
                  <div class="col-12 mt-3">
                    <a class="text-white"><b> 877 </b></a>
                  </div>
                  <div class="col-12 mb-3">
                    <a class="text-white"> Certificate Received </a>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="col-lg-6 mt-3">
              <div class="box3">
                <div class="row">
                  <div class="col-12 mt-3">
                    <a class="text-white"><b> 678 </b></a>
                  </div>
                  <div class="col-12 mb-3">
                    <a class="text-white"> Counterfeit Type </a>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="col-lg-6 mt-3">
              <div class="box4">
                <div class="row">
                  <div class="col-12 mt-3">
                    <a class="text-white"><b> 123 </b></a>
                  </div>
                  <div class="col-12 mb-3">
                    <a class="text-white"> Number of Seal Packed </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Counterfeit Record</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Denomination </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.denomination }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Serial No. </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.accNo }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Amount (Pcs) </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.amount }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Series </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.series }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Action</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="View"
                    (click)="openModal(viewDetail)"
                  >
                    <span class="btn-inner--icon">
                      <i class="far fa-eye"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewDetail>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      View Details
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Denomination (Unit)</label>

          <input class="form-control" value="120" type="number" disabled />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Amount (Pieces)</label>

          <input class="form-control" value="120" type="number" disabled />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Counterfeit Type</label>

          <input class="form-control" value="Overlap" type="text" disabled />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Class</label>

          <input class="form-control" value="A" type="text" disabled />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Subclass</label>

          <input class="form-control" value="A2" type="text" disabled />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Place of Discovery</label>

          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="customFileLangcounterfeitapprove"
              lang="en"
            />
            <label class="custom-file-label" for="customFileLangcounterfeitapprove"
              >Select file</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-default"
      type="button"
      (click)="successSwal('approved')"
    >
      Approve
    </button>

    <button
      class="btn btn-danger"
      type="button"
      (click)="successSwal('rejected')"
    >
      Reject
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
